* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(90deg, #465BDC 0.8%, #337AD9 100%) !important;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #c0c7f8;
}

.navbar .btn {
    background-color: #10C793;
    border: none;
}

.navbar .btn:hover {
    background-color: #0fa57a;
}

button.navbar-toggler:focus {
    outline: none;
    border: none;
}

.section1 {
    background: url('./images/MaskGroup.png');
    background-position: 0 650px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width:786px) {
    .section1 {
        height: 92vh;
        background-position: 850px;
    }
}

.section1 h4 {
    color: #10C793;
    font-weight: 700;
}

.section1 .limited {
    background-color: #10C793;
    color: white;
    font-weight: 400;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}

.section1 h1 {
    color: #292929;
    font-weight: 700;
}

.section1 p {
    color: #292929;
}

.section1 .button1 {
    background-color: #10C793;
    border-color: #10C793;
}

.section1 .button1:hover {
    background-color: #0fa57a;
    border-color: #0fa57a;
}

.section1 .button2 {
    border-color: #10C793;
}

.section1 .button2:hover {
    background-color: #10C793;
    border-color: #10C793;
}

.section1 .icons a:hover {
    text-decoration: none;
}

.img-container button {
    cursor: pointer;
    outline: none;
    border: none;
    vertical-align: middle;
    text-decoration: none;
    background: none;
    font-size: 15px;
}

.img-container button:focus {
    outline: none;
    border: none;
}

.img-container button i {
    position: relative;
    display: inline-block;
}

.img-container button i:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.img-container .slider-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.img-container .numbers {
    display: flex;
}

.img-container .numbers button {
    cursor: default;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.img-container .slider-nav {
    display: flex;
    flex: 2;
    text-align: center;
}

.img-container .next,
.img-container .previous {
    color: #3D69DB;
    background: rgba(61, 105, 219, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@media screen and (max-width:786px) {
    .img-container .next,
    .img-container .previous {
        background: rgb(215, 224, 247);
        width: 30px;
        height: 30px;
        padding: 0;
    }
}

.img-container img {
    max-width: 100%;
    display: none;
    box-shadow: 10px 10px 20px 0 rgba(94, 47, 59, 0.2);
}

.img-container img.active {
    display: block;
    animation: fadeImg 0.8s;
}

@keyframes fadeImg {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* ====================================== Join revolution ==================================== */

.join .left {
    background-color: #F6F8FA;
    /* height: 500px; */
    border-radius: 10px;
}

.row1 {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.join .right {
    background: #3D69DB;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.join .right p {
    line-height: 2;
}

.join h2 {
    font-weight: 700;
}

.green {
    color: #10C793;
}

.white {
    border-color: white;
}

.join .btn1 {
    color: #10C793;
    background-color: white;
    font-weight: 500;
    height: 50px;
}

.join .btn2 {
    color: #ffffff;
    background-color: #10C793;
    text-align: left;
    font-weight: 500;
    height: 50px;
}


/* =============================== Team ========================================= */

.team {
    position: relative;
}

.team1,
.team2,
.team3 {
    background-color: #292929;
    background-position: top;
    background-repeat: repeat-x;
    color: white;
}

.team1 {
    background-image: url('images/team1-bg.png');
}

.team2 {
    background-image: url('images/team2-bg.png');
}

.team3 {
    background-image: url('images/team3-bg.png');
}

.team img.dp {
    padding-top: 70px;
}

.team h2 {
    font-size: 24px;
    font-weight: 700;
}

.team h3 {
    font-size: 18px;
}

.team p {
    font-size: 14px;
}

.team .socials a {
    background-color: #323238;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.team .socials img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: black !important;
    background-color: rgb(224, 224, 224);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ================================ Our benefits ============================== */

.our-benefits {
    background-color: #3C3D3D;
    position: relative;
    color: #ffffff;
}

.our-benefits .bg {
    background-color: #629A6B;
    width: 450px;
    height: 450px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(200px);
    border-radius: 10px;
}

.our-benefits .free {
    background-color: #292929;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
}

.our-benefits .amount {
    background-color: #292929;
    border-radius: 10px;
}

.our-benefits .amount h4 {
    font-size: 16px;
    font-weight: 400;
}

.our-benefits .amount h3 {
    font-size: 30px;
    font-weight: 300;
}

.our-benefits .early-access {
    background-color: #292929;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
}

.our-benefits .special-allocation {
    background-color: #292929;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 500;
}

.our-benefits .special-allocation p {
    background: -webkit-linear-gradient(360deg, #72F8B5 0.38%, #3C6ADB 94.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our-benefits .presale {
    background-color: #292929;
    border-radius: 10px;
    font-weight: 500;
}

.our-benefits .presale h4 {
    font-size: 16px;
    font-weight: 400;
}

.our-benefits .presale h2 {
    font-weight: 300;
    color: #72F8B5;
}

.our-benefits .benefits {
    background-color: #292929;
    border-radius: 10px;
    font-size: 24px;
    height: 300px;
}

.our-benefits .benefits h2 {
    font-weight: 700;
}

.our-benefits .placement {
    background-color: #292929;
    border-radius: 10px;
    font-size: 24px;
    height: 270px;
}

@media screen and (max-width:992px) {
    .our-benefits .placement {
        height: auto;
    }
}

.our-benefits .founding {
    background-color: #292929;
    border-radius: 10px;
    font-size: 18px;
}

.our-benefits .tba {
    background-color: #292929;
    border-radius: 10px;
    font-size: 16px;
}

.our-benefits .tba p {
    text-transform: uppercase;
}

.our-benefits .token {
    background-color: #292929;
    border-radius: 10px;
    font-size: 20px;
}

.our-benefits .token p {
    background: -webkit-linear-gradient(360deg, #72F8B5 0.38%, #3C6ADB 94.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

.our-benefits .elite,
.our-benefits .more {
    background-color: #292929;
    border-radius: 10px;
    font-size: 30px;
}


/* ======================== Roadmap ====================== */

.roadmap {
    background: linear-gradient(135deg, #4B53DC 0%, #2F80D9 100%);
    position: relative;
    color: #ffffff;
    padding-bottom: 100px;
}

.roadmap .bg {
    position: absolute;
    left: 0;
    top: 150px;
}

.roadmap .heading {
    background: #ffffff17;
    border-radius: 10px;
}

.roadmap .heading h2 {
    font-weight: 700;
}

.mobile-rm h4 {
    font-weight: 700;
}

.mobile-rm .btn {
    background-color: #10C793;
    font-weight: 700;
}

.mobile-rm .btn:hover {
    background-color: #0fa379;
}

.large-rm {
    position: relative;
}

.large-rm img {
    padding-top: 80px;
}

.large-rm .launch {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate( -50%);
    text-align: center;
    font-size: 0.9rem;
}

.large-rm .one {
    position: absolute;
    top: 15%;
    right: 0px;
    width: 30%;
    font-size: 0.9rem;
}

.large-rm .ten {
    position: absolute;
    top: 32%;
    right: -40px;
    width: 30%;
    font-size: 0.9rem;
}

.large-rm .twenty-five {
    position: absolute;
    top: 45%;
    right: -45px;
    width: 30%;
    font-size: 0.9rem;
}

.large-rm .fifty {
    position: absolute;
    bottom: -25;
    left: 50%;
    transform: translate( -50%);
    text-align: center;
    font-size: 0.9rem;
}

.large-rm .seventy-five {
    position: absolute;
    top: 45%;
    left: -50px;
    width: 30%;
    font-size: 0.9rem;
    text-align: right;
}

.large-rm .hundred {
    position: absolute;
    top: 20%;
    left: 15px;
    width: 30%;
    font-size: 0.9rem;
    text-align: right;
}

@media screen and (max-width:992px) {
    .large-rm .one,
    .large-rm .ten,
    .large-rm .twenty-five,
    .large-rm .hundred,
    .large-rm.seventy-five,
    .large-rm .launch,
    .large-rm .fifty {
        font-size: 0.7rem;
    }
    .large-rm .one {
        top: 17%;
    }
    .large-rm .ten {
        top: 37%;
    }
    .large-rm .twenty-five {
        top: 50%;
        right: -40px;
    }
    .large-rm .hundred {
        top: 20%;
        left: 5px;
    }
}


/* ==================================== Trustedd Platform ======================== */

.platform {
    background-color: #292929;
    color: white;
}

.platform h2 {
    font-weight: 700;
}

.platform .left p {
    font-weight: 300;
}

.platform .left h4 {
    font-weight: 700;
}

.platform .left .btn {
    background-color: white;
    color: #10C793;
    font-weight: 500;
}

.platform .left .btn:hover {
    background-color: #72F8B5;
    color: #ffffff;
}

.testimonials .user {
    background-color: #424242;
    border-radius: 10px;
}

.testimonials .user .right p {
    color: #6A6A6A;
    font-weight: 500;
}

.testimonials .para .colon {
    padding-top: 0;
    margin-top: -40px !important;
    margin-bottom: 0 !important;
    font-size: 50px;
    font-weight: 500;
}

.testimonials .review {
    margin-top: -30px;
}


/* ======================================== Articles ================================ */

.articles h2 {
    font-weight: 700;
}

.articles .card {
    border: 1px solid #EAEDF3;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
}

.articles .card h5 {
    font-weight: 700;
}

.articles .card .date {
    color: #8A8F9C;
    font-weight: 300;
}

.articles .card .time {
    color: #8A8F9C;
}

.articles .card-img-top {
    border-bottom: 1px solid #EAEDF3;
    object-fit: contain;
    height: 200px;
}

.articles .img1 {
    object-fit: cover;
}


/* ==================================== FAQs ============================================= */

.faq h2 {
    font-weight: 700;
}

.faq-lg .answers {
    background-color: #FAFBFF;
    height: 400px;
}

.faq-lg .questions {
    border: 1px solid #EAEDF3;
}

.faq-lg .q {
    border-bottom: 1px solid #EAEDF3;
    cursor: pointer;
}

.faq-lg .fa {
    transition: all 0.3s ease-in-out;
}

.faq-lg .q:hover .fa {
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
    color: rgb(33, 71, 173);
}

.arrow-transition {
    transform: translateX(10px);
    transition: transform 0.3s ease-in-out;
    color: rgb(33, 71, 173);
}

.faq-lg .circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #3478DA;
    margin-right: 10px;
    transition: all 0.3s ease;
    display: none;
}

.activeCircle .circle {
    display: block;
}

#faq1,
#faq2,
#faq3,
#faq4,
#faq5 {
    display: none;
}

.accordion .fa {
    color: #444444;
    cursor: pointer;
}

.accordion .card-header {
    background: none;
    border: none;
}

.accordion .card-header .btn {
    font-size: 1rem;
    white-space: normal;
    text-align: left;
}

.accordion .card-body {
    background-color: #FAFBFF;
}

.accordion .card {
    border: none;
    border: 1px solid rgba(190, 190, 190, 0.137);
    border-radius: 0px;
}

.accordion button {
    color: rgb(97, 97, 97);
    font-weight: 500;
    text-decoration: none;
}

.accordion button:hover,
.accordion button:focus {
    text-decoration: none;
    cursor: pointer;
}

.bg-blue {
    background-color: #FAFBFF !important;
}

.bg-white {
    background: none;
}